body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-div {
  margin: 0 25%;
  margin-top: 2em;
}

.react-multi-carousel-track  {
  height: 60vh;
}

@media screen and (min-width: 0px) and (max-width: 512px) {
  .react-multi-carousel-track  {
    height: 60vh;
  }
}

@media screen and (min-width: 512px) and (max-width: 1000px) {
  .react-multi-carousel-track  {
    height: 65vh;
  }
}